* {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Links */
  a, a:link, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  /* Common */
  aside, nav, footer, header, section, main {
    display: block;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
  }
  
  ul, ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  img, svg {
    max-width: 100%;
    height: auto;
  }
  
  address {
    font-style: normal;
  }
  
  /* Form */
  input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button, input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
  }
  
  input:focus, input:active,
  button:focus, button:active {
    outline: none;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  label {
    cursor: pointer;
  }
  
  legend {
    display: block;
  }
  
  input[type=file] {
    max-width: 100%;
  }
  
  body, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #121A21;
    color: #FFFFFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  a {
    color: #FFFFFF;
  }
  
  .page-name {
    font-size: 24px;
    color: #FFFFFF;
  }
  
  .menu {
    width: 1000px;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
  .menu__item {

    border-radius: 12px;
    transition: background-color 0.3s;
  }
  .menu__item a{
	display: block;
	padding: 10px 18px;
	border-radius: 12px;
	transition: background-color 0.3s;
}
  .menu__item:hover {
    background-color: #1A80E5;
  }
  .menu__item-active {
    background-color: #1A80E5;
  }
  
  .content {
    margin: 0px 160px 0px 160px;
  }
  .content__inner {
    padding: 20px 0px 0px 0px;
  }
  .content__title {
    font-size: 28px;
    padding: 20px 0px 16px 0px;
  }
  
  .tools__title {
    padding: 20px 0px 0px 0px;
    font-size: 22px;
  }
  .tools__content {
    width: 100%;
  }
  .tools__commands {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .tools__button {
    background: linear-gradient(145deg, #243647, #1a2a36);
    padding: 7px 30px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .tools__button:hover {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
  }
  .tools__button-active {
    transform: scale(0.92);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, #1a2a36, #1a80e5);
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
  }
  .tools__program {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tools__program__button {
    margin: 0px 7px;
  }
  .tools__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .tools__input-block {
    display: flex;
    align-items: center;
  }
  
  .tools__input {
    -webkit-appearance: none; /* убирает стандартный стиль ползунка */
    width: 200px;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(145deg, #243647, #1A80E5);
    outline: none;
    transition: background 0.3s ease-in-out;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tools__input:hover {
    background: linear-gradient(145deg, #1A80E5, #243647);
  }
  
  .tools__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(145deg, #1A2A36, #1A80E5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: transform 0.2s ease, box-shadow 0.2s ease;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .tools__input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  }

  .tools__value {
    font-size: 14px;
    color: #1A80E5; /* Цвет текста */
    margin-left: 5px;
    font-weight: bold;
  }

  .tools__button {
    background: linear-gradient(145deg, #243647, #1a2a36);
    padding: 13px 30px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .tools__button:hover {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
  }
  
  .tools__button-active {
    transform: scale(0.92);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, #1a2a36, #1a80e5);
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
  }

  .popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(0,0,0,0.5);
    width: 80px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

